body {
    user-select: none;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Light';
    src: url('./fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-Regular.ttf') format('truetype');
}

.Drawer {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    width: 236px;

    background: #19181E;
}

.Drawer .logo {
    position: absolute;

    top: 20px;
    left: 20px;
}

.navItem {
    cursor: pointer;
    display: block;
    position: relative;

    width: calc(100% - 50px);
    height: 40px;

    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.first {
    margin-top: 100px;
}

.active {
    border-radius: 10px;
    background: #211F29;
}

.navItem img {
    position: absolute;

    left: 28px;
    top: 10px;
    bottom: 10px;

    height: 20px;
    width: 20px;
}

.navItem h1 {
    position: absolute;

    margin: 0;
    left: 60px;
    top: 13px;

    color: #FFF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
}

.title {
    position: absolute;

    margin: 0;
    left: 261px;
    top: 25px;

    color: #000;
    font-family: 'Cabin';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stats {
    position: absolute;

    left: 261px;
    top: 80px;

    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
}

.statsItem {
    position: relative;
    width: 120px;
    height: 100px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.statsItem #title {
    color: #000;
    font-family: 'Cabin';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute;
    left: 0;
    right: 0;

    text-align: center;
    top: 10px;

    margin: 0;
}

.statsItem #bar {
    position: absolute;

    margin: 0;
    top: 35px;
    left: 40px;
    right: 40px;

    height: 2px;
    background: rgba(0, 0, 0, 0.20);
}

.statsItem #number {
    position: absolute;

    margin: 0;
    bottom: 10px;
    left: 0;
    right: 0;

    text-align: center;

    color: #19181E;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gameStats {
    position: absolute;

    margin: 0;
    left: 261px;
    top: 225px;

    height: 250px;
    width: 400px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.gameStats #title {
    position: absolute;

    margin: 0;
    top: 10px;
    left: 20px;

    color: #000;
    font-family: Cabin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gameStats #bar {
    position: absolute;

    margin: 0;
    left: 20px;
    top: 35px;

    width: 40px;
    height: 2px;
    background: rgba(0, 0, 0, 0.20);
}

.gameStats #chart {
    position: absolute;

    margin: 0;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;

    height: 200px;
}

.status {
    position: absolute;

    background-color: #65FE87;;

    width: 5px;
    height: 5px;
    border-radius: 50px;

    margin: 0;
    right: 25px;
    top: 35px; 
}

.gameTitle {
    position: absolute;

    margin: 0;
    top: 30px;
    right: 40px;

    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gamePfp {
    position: absolute;

    margin: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 40px;
    border: 1.5px solid #000;
    background: url(), lightgray 50% / cover no-repeat;

    top: 17px;
    right: 25px;
}

.removeButton {
    cursor: pointer;
    position: absolute;

    margin: 0;
    top: 60px;
    right: 25px;

    display: none;
    opacity: 0;
    width: 134px;
    height: 47px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    flex-shrink: 0;

    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);

    color: #F00;
    font-family: 'Cabin';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transition: all .2s;
}

.blur {
    position: absolute;

    margin: 0;
    left: 236px;
    top: 0;
    right: 0;
    bottom: 0;

    background: rgba(25, 24, 30, 0.80);
    backdrop-filter: blur(5px);

    z-index: 10;
}

.info {
    position: absolute;

    margin: 0;
    top: 145px;
    left: calc(50% - 95px/2);
    right: 235px;

    width: 95px;
    height: 95px;
}

.infoTitle {
    position: absolute;

    margin: 0;
    left: 95px;
    right: 95px;
    top: 260px;

    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.infoButton {
    cursor: pointer;
    position: absolute;

    margin: 0;
    left: calc(50% - 175px/2);
    bottom: 100px;

    width: 175px;
    height: 69px;
    /* I kept it 69 because funny */

    border-radius: 500px;
    background: #FFF;

    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 69px;
}

.formPopup {
    display: none;
    position: absolute;

    margin: 0;
    left: calc(50% - 401px/2);
    top: calc(50% - 300px/2);

    width: 401px;
    /* 401 instead of 400 to center correctly */
    height: 300px;

    background: #fff;
    border-radius: 10px;

    z-index: 10;
}

.formPopup #title {
    margin-top: 20px;
    margin-left: 30px;

    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formPopup #inputLabel {
    margin-top: 30px;
    margin-left: 30px;

    color: #000;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Roblox {
    margin-left: 30px;
    margin-top: 5px;

    height: 20px;
    width: 200px;

    outline: none;
    border: none;
    background: transparent;

    border-bottom: 2px solid black;

    color: #1e1e1e;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.Steam {
    margin-left: 30px;
    margin-top: 5px;

    height: 20px;
    width: 200px;

    outline: none;
    border: none;
    background: transparent;

    border-bottom: 2px solid black;

    color: #1e1e1e;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.formPopup #button {
    cursor: pointer;
    position: absolute;

    margin: 0;
    bottom: 25px;
    left: calc(50% - 150px/2);

    width: 150px;
    height: 45px;

    border-radius: 500px;
    background: #000;

    text-align: center;
    color: #FFF;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
}

@keyframes spin {
    50% {
        rotate: 180deg;
    }
    100% {
        rotate: 360deg;
    }
}

#loading {
    display: none;
    position: absolute;

    width: 100px;
    height: 100px;

    top: calc(50% - 50px);
    left: calc(50% - 50px);

    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    background-image: url('assets/Loading.svg');
}